# Default ignored files
/shelf/
/workspace.xml

/home/tipu/Downloads/Development/SPRING RE START/journalApp/.idea/.gitignore
/home/tipu/Downloads/Development/SPRING RE START/journalApp/src/main/resources/application-secrets.properties